@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@layer Components {
    .nav {
        @apply font-[Inter]
    }

    .hero span  {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .redSpan {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .hero p, a, button {
        @apply font-[Inter] font-medium
    }

    .productSection h2 {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .productSection p, h3 {
       @apply font-[Inter]
    }
    
    .family {
        @apply font-[Inter]
    }

    .faq {
        @apply font-[Inter]
    }

    .faq h2 {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    footer {
       @apply font-[Inter]
    }

    @media (min-width: 510px) and (max-width: 640px) {
      /* Pre otvorené FAQ položky (s triedou open-faq) zmenšíme background-size */
      .open-faq {
        background-size: 100%;
        margin: 0;
        padding: 14px;
        margin-bottom: 8px;
      }

      .faq-toggle-open {
        top: 12%;
        right: 2%;
        transform: translateX(-20%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 3%;
        transform: translateX(-3%);
      }

      .ques {
        font-size: 17px;
      }

      .answer {
        font-size: 15px;
      }
      
      .container {
        width: 95%;
      }
    }
    
    @media (min-width: 540px) {
      .faq-toggle-open {
        top: 11%;
        right: 2%;
        transform: translateX(-24%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 3%;
        transform: translateX(-7%);
      }
    }

    @media (min-width: 600px) {
      .faq-toggle-open {
        top: 11%;
        right: 3%;
        transform: translateX(-15%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 3%;
        transform: translateX(-13%);
      }

      .open-faq {
        padding-top: 28px;
      }
    }

    @media (min-width: 640px) {
      .faq-toggle-open {
        top: 12%;
        right: 3%;
        transform: translateX(-24%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 4%;
        transform: translateX(-1%);
      }

      .open-faq {
        padding-top: 35px;
      }

    }

    @media ((min-width: 510px) and (max-width: 768px)) {
      .container {
        width: 95%;
        margin: 0 auto;
      }
    }

    @media (min-width: 700px) {
      .faq-toggle-open {
        top: 10%;
        right: 4%;
        transform: translateX(-12%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 4%;
        transform: translateX(-1%);
      }

      .open-faq {
        padding-top: 45px;
      }

    }

    @media (min-width: 768px) {
      .faq-toggle-open {
        top: 18%;
        right: 3%;
        transform: translateX(-20%);
      }
    
      .faq-toggle-closed {
        top: 30%;
        right: 4%;
        transform: translateX(-1%);
      }
    }

      @media (min-width: 811px) {
        .faq-toggle-open {
          top: 17%;
          right: 4%;
          transform: translateX(-5%);
        }
      
        .faq-toggle-closed {
          top: 30%;
          right: 4%;
          transform: translateX(-3%);
        }
    }

    @media (min-width: 900px) {
      .faq-toggle-open {
        top: 13%;
        right: 4%;
        transform: translateX(-8%);
      }

      .faq-toggle-closed {
        top: 30%;
        right: 4%;
        transform: translateX(-10%);
      }
  }

  @media (min-width: 1024px) {
    .faq-toggle-open {
      top: 13%;
      right: 4%;
      transform: translateX(-15%);
    }

    .faq-toggle-closed {
      top: 30%;
      right: 4%;
      transform: translateX(-14%);
    }

    .open-faq {
      margin-bottom: 10px;
    }
}

@media ((min-width: 1024px) and (max-width: 1135px)) {
  .container {
    width: 70%;
    padding: 0 40px;
  }
}

@media (min-width: 1135px) {
  .faq-toggle-open {
    top: 19%;
    right: 3%;
    transform: translateX(-13%);
  }

  .faq-toggle-closed {
    top: 30%;
    right: 3%;
    transform: translateX(-12%);
  }
}

@media (min-width: 1360px) {
  .faq-toggle-open {
    top: 19%;
    right: 3%;
    transform: translateX(-16%);
  }

  .faq-toggle-closed {
    top: 30%;
    right: 3%;
    transform: translateX(-12%);
  }
}

@media (max-width: 1134px) {
  .text {
    text-align: center;
  }

  .footerBtn {
    margin: 0 auto;
  }

  footer {
    background-size: 100% auto;
  }
}

@media (max-width: 1662px) {
  footer {
    background-size: 1720px auto;
    background-position: right bottom;
  }
}

.about-bg {
  background-image: url('Subtract.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1023px) {
  .about-bg {
    background-image: url('AboutUsMob.png');
    font-size: 15px;
    width: 650px;
  }

  .about {
    position: absolute;
    left: 8px;
    top: 15px;
  }

  .wrapper-btn {
    bottom: 10px;
  }

  .about-btn {
    width: 45px;
    height: 45px;
  }
}

 @media (max-width: 680px) {
  .about-bg {
    width: 480px;
    font-size: 13px;
  }

  .about {
    top: 67px;
    left: 3px;
  }

  .wrapper-btn {
    bottom: 63px;
  }

  .about-btn {
    width: 35px;
    height: 35px;
  }
 }
}
